services:
  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    volumes:
      - /home/pasindu/Projects/nginx_tut/certs:/etc/nginx/certs:ro
      - /home/pasindu/Projects/nginx_tut/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/pasindu/Projects/nginx_tut/conf.d:/etc/nginx/conf.d:ro
      - /home/pasindu/Projects/nginx_tut/html:/usr/share/nginx/html:ro
      - /home/pasindu/Projects/nginx_tut/logs:/var/log/nginx
    restart: always
    networks:
      - frontend

networks:
  frontend:
    external: true